@model IEnumerable<MVCProject.Models.Post>

@{
    ViewBag.Title = "Posts List";
}

@section MainContent{
    <div class="main-content">
        <h2 style="color: gray; padding-left: 10px;">All posts</h2>

        @if (ViewContext.HttpContext.User.IsInRole("admin"))
        {<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author.UserName)
                </th>
                <th>
                    Tags
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.UserName)
                    </td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <span> @tag.TagName</span>
                        }
                    </td>
                    <td>
                        @if (item.File != null)
                        {
                            <a href="~/Uploads/@item.File"><img class="post-image" src="~/Uploads/@item.File" /></a>
                        }
                        else
                        {
                            <img src="../../Content/pictures/filen.png" alt="без файла изображения" class="tdImage" />
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                    </td>
                </tr>
            }

        </table>
        }

        else if (ViewContext.HttpContext.User.IsInRole("moderator"))
        {
        <h2 style="color: gray; padding-left: 10px;">Moderator menu</h2>
        <div class="menu">
            <ul class="nav navbar-nav">
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Check", "Approve", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("New", "Create", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Log Out", "LogOff", "Account", new object { }, new { @style = "color: #ffb500" })</li>
            </ul>
        </div>
        }

        else if (ViewContext.HttpContext.User.IsInRole("user"))
        {
            <div class="menu">
                <ul class="nav navbar-nav">
                    <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("New", "Create", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                </ul>
            </div>
            <div class="main-content">

                <div id="gallery">

                    @foreach (var item in Model)
                    {
                        <div style="display:inline-block; width:320px; height:320px; margin-right: 10px;">

                            @if (item.File != null)
                            {
                                <a href="~/Uploads/@item.File"><img class="post-image" src="~/Uploads/@item.File" /></a>
                            }
                            else
                            {
                                <img src="../../Content/pictures/filen.png" alt="без файла изображения" class="tdImage" />
                            }

                            <div><p style="color: #ffb500; font-size:14px">@Html.DisplayFor(modelItem => item.Title)</p></div>
                            <div><p style="color: #ffb500; font-size:14px">@Html.DisplayFor(modelItem => item.Description)</p></div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }, new { @class = "actionLink" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostId }, new { @class = "actionLink" })
                        </div>
                    }
                </div>
            </div>
        }

    </div>
}
